RV.ClientServer/Service References/ServiceReference/RemoteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRemoteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="60000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cmd18:10080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cmd18:10080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" />
      <xsd:import schemaLocation="http://cmd18:10080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cmd18:10080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://cmd18:10080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_Login_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateScreenImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScreenImage" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateScreenImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScreenImageResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateScreenImage_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateCursorImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCursorImage" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateCursorImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCursorImageResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_UpdateCursorImage_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_GetDllsForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDllsForUpdate" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_GetDllsForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDllsForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_GetDllsForUpdate_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_DllData_InputMessage">
    <wsdl:part name="parameters" element="tns:DllData" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_DllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_DllData_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteService_Logout_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/RV.ClientServer.Server" name="detail" element="q6:ServiceException" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IRemoteService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/Login" message="tns:IRemoteService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/LoginResponse" message="tns:IRemoteService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/LoginServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_Login_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateScreenImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/UpdateScreenImage" message="tns:IRemoteService_UpdateScreenImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/UpdateScreenImageResponse" message="tns:IRemoteService_UpdateScreenImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/UpdateScreenImageServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_UpdateScreenImage_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateCursorImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/UpdateCursorImage" message="tns:IRemoteService_UpdateCursorImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/UpdateCursorImageResponse" message="tns:IRemoteService_UpdateCursorImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/UpdateCursorImageServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_UpdateCursorImage_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDllsForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/GetDllsForUpdate" message="tns:IRemoteService_GetDllsForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/GetDllsForUpdateResponse" message="tns:IRemoteService_GetDllsForUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/GetDllsForUpdateServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_GetDllsForUpdate_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/DllData" message="tns:IRemoteService_DllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/DllDataResponse" message="tns:IRemoteService_DllData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/DllDataServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_DllData_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteService/Logout" message="tns:IRemoteService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteService/LogoutResponse" message="tns:IRemoteService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRemoteService/LogoutServiceExceptionFault" name="ServiceExceptionFault" message="tns:IRemoteService_Logout_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRemoteService" type="tns:IRemoteService">
    <wsp:PolicyReference URI="#WSHttpBinding_IRemoteService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateScreenImage">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/UpdateScreenImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCursorImage">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/UpdateCursorImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDllsForUpdate">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/GetDllsForUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DllData">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/DllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IRemoteService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteService">
    <wsdl:port name="WSHttpBinding_IRemoteService" binding="tns:WSHttpBinding_IRemoteService">
      <soap12:address location="http://cmd18:10080/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://cmd18:10080/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>